<!DOCTYPE HTML>
<html>
<head>
    <title> sudoku solves </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> welcome to sudoku solves.</h1>

<!--forms need action and method -->
<form action="/solve" method="POST">
<div class="board">
    {% for row in range(9) %}
        {% for col in range(9) %}
            <input
                type="text"
                maxlength="1"
                name="cell_{{ row }}_{{ col }}"
                value="{% if grid and grid[row][col] != 0 %}{{ grid[row][col] }}{% endif %}"
                class="cell
                {% if col % 3 == 0 %} block-left {% endif %}
                {% if row % 3 == 0 %} block-top {% endif %}">
        {% endfor %}
    {% endfor %}
</div>
    <button type="submit">solve</button>  
</form>

<form action="/" method="GET">
    <button type= "submit"> reset</button>
</form>

</body>
</html>